<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>
        <th:block th:if="${session.authc} and ${session.user.id == userInfo.user.id}">我</th:block>
        <th:block th:unless="${session.authc} and ${session.user.id == userInfo.user.id}" th:text="${userInfo.user.name}"></th:block>的个人主页</title>
    <th:block th:replace="view/layout/public :: public-css"/>
    <link th:href="@{/css/default/space.css}" rel="stylesheet">
</head>
<body>
<th:block th:replace="view/layout/public :: header"/>

<div class="wrap">
    <th:block th:replace="view/layout/space :: space-header"/>
    <div class="container">
        <div class="row mt-30">
            <th:block th:replace="view/layout/space :: left-menu"/>
            <!-- Nav tabs -->
            <div class="col-md-10">
                <h2 class="h4">最近动态</h2>
                <div class="stream-doing clearfix">
                    <th:block th:each="doing : ${doings}">
                    <section class="stream-doing-item">
                        <p class="stream-doing-item-info"><th:block th:text="${doing.createTime}"/>&nbsp;&nbsp;<th:block th:text="${doing.action}"/></p>
                        <div class="stream-doing-item-title">
                            <th:block th:if="${doing.sourceType == 'question'}">
                                <h4><a th:href="@{'/detail?id='+ ${doing.sourceId}}" th:text="${doing.content}"></a></h4>
                            </th:block>
                            <th:block th:if="${doing.sourceType == 'answer'}">
                                <h4><a th:href="@{'/detail?id='+ ${doing.referId}}" th:text="${doing.referContent}"></a></h4>
                            </th:block>
                        </div>
                        <th:block th:if="${doing.sourceType == 'answer'}">
                            <p class="stream-doing-item-quote" th:utext="${doing.content}"></p>
                        </th:block>
                    </section>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="view/layout/public :: public-js"/>
<th:block th:replace="view/layout/public :: footer"/>

</body>
</html>


