<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title><th:block th:text="${question.title}"></th:block> - healthAsk问答社区</title>
    <th:block th:replace="view/layout/public :: public-css"/>
    <link th:href="@{/static/js/fancybox/jquery.fancybox.min.css}" rel="stylesheet">
    <link th:href="@{/static/js/summernote/summernote.css}" rel="stylesheet">
    <link th:href="@{/static/js/fancybox/jquery.fancybox.min.css}" rel="stylesheet">

</head>

<body>
<th:block th:include="/view/layout/public :: header"/>

<div class="wrap">
    <div class="container">
        <div class="row mt-10">
            <div class="col-xs-12 col-md-9 main">
                <div class="widget-question">
                    <h4 class="title">
                        <span class="text-gold" th:if="${question.price>0}">
                            <i class="fa fa-database"></i> <th:block th:text="${question.price}"></th:block>
                        </span>
                        <th:block th:utext="${question.title}"></th:block>
                    </h4>

                    <!--问题标签模块,此模块暂不考虑-->
                    <!--@if($question->tags)-->
                    <!--<ul class="taglist-inline">-->
                        <!--@foreach($question->tags as $tag)-->
                        <!--<li class="tagPopup"><a class="tag" href="{{ route('ask.tag.index',['id'=>$tag->id]) }}">{{ $tag->name }}</a></li>-->
                        <!--@endforeach-->
                    <!--</ul>-->
                    <!--@endif-->
                    <div class="description mt-10">
                        <div class="text-fmt " th:utext="${question.description}">
                            {!! $question->description !!}
                        </div>

                        <div class="post-opt mt-10">
                            <ul class="list-inline">
                                <li><a class="comments"  data-toggle="collapse"  href="#comments-question-{{ $question->id }}" aria-expanded="false" aria-controls="comment-{{ $question->id }}"><i class="fa fa-comment-o"></i> <th:block th:text="${question.comments}"></th:block> 条评论</a></li>


                                <!--授权才显示此模块，后期再完善-->
                                <!--@if(Auth()->check())-->
                                <!--@if(($question->status !== 2 && Auth()->user()->id === $question->user_id) || Auth()->user()->is('admin') )-->
                                <!--<li><a href="{{ route('ask.question.edit',['id'=>$question->id]) }}" class="edit" data-toggle="tooltip" data-placement="right" title="" data-original-title="补充细节，以得到更准确的答案"><i class="fa fa-edit"></i> 编辑</a></li>-->
                                <!--@endif-->
                                <!--@if( $question->status !== 2 && Auth()->user()->id === $question->user_id )-->
                                <!--<li><a href="#" data-toggle="modal" data-target="#appendReward"  ><i class="fa fa-database"></i> 追加悬赏</a></li>-->
                                <!--@endif-->
                                <!--@if( $question->status !== 2 )-->
                                <!--<li><a href="#" data-toggle="modal" data-target="#inviteAnswer"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> 邀请回答</a></li>-->
                                <!--@endif-->
                                <!--@endif-->
                            </ul>
                        </div>

                        <!--评论模块-->
                        <th:block th:replace="view/comment/collapse :: collapse"/>
                        <!--@include('theme::comment.collapse',['comment_source_type'=>'question','comment_source_id'=>$question->id,'hide_cancel'=>false])-->

                        <!--分享模块-->
                        <div class="social-share" data-sites="weibo,qq,qzone,tencent,wechat"></div>
                        <!--@if(Setting()->get('website_share_code')!='')-->
                        <!--<div class="mb-10">-->
                            <!--{!! Setting()->get('website_share_code')  !!}-->
                        <!--</div>-->
                        <!--@endif-->
                    </div>


                    <!--最佳答案-->
                    <div class="best-answer mt-10" th:if="${question.status == 2} and ${bestAnswer != null}">
                        <div class="trophy-title">
                            <h3>
                                <i class="fa fa-trophy"></i> 最佳答案
                                <span class="pull-right text-muted adopt_time" th:text="${bestAnswer.adoptedTime}">{{ timestamp_format($bestAnswer->created_at) }}</span>
                            </h3>
                        </div>
                        <div class="text-fmt" th:utext="${bestAnswer.content}">
                            {!! $bestAnswer->content !!}
                        </div>
                        <div class="options clearfix mt-10">
                            <ul class="list-inline pull-right">
                                <li class="pull-right">
                                    <a class="comments mr-10" data-toggle="collapse" href="#comments-answer-{{ $bestAnswer->id }}" aria-expanded="false" aria-controls="comment-{{ $bestAnswer->id }}"><i class="fa fa-comment-o"></i> <th:block th:text="${bestAnswer.comments}">0</th:block> 条评论</a>
                                    <button class="btn btn-default btn-sm btn-support" data-source_id="{{ $bestAnswer->id }}" data-source_type="answer" data-support_num="{{ $bestAnswer->supports }}"><i class="fa fa-thumbs-o-up"></i> <th:block th:text="${bestAnswer.supports}">0</th:block></button>
                                    <!--打赏二维码-->
                                    <!--@if($bestAnswer->user->qrcode)-->
                                    <!--<button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#payment-qrcode-modal-answer-{{ $bestAnswer->id }}" ><i class="fa fa-heart-o" aria-hidden="true"></i> 打赏</button>-->
                                    <!--@endif-->
                                </li>
                            </ul>
                        </div>
                        <!--评论模块-->
                        <th:block th:replace="view/comment/collapse :: collapse"/>
                        <!--@include('theme::comment.collapse',['comment_source_type'=>'answer','comment_source_id'=>$bestAnswer->id,'hide_cancel'=>false])-->
                        <!--@if($bestAnswer->user->qrcode)-->
                        <!--@include('theme::layout.qrcode_pament',['source_id'=>'answer-'.$bestAnswer->id,'paymentUser'=>$bestAnswer->user,'message'=>'如果觉得我的回答对您有用，请随意打赏。你的支持将鼓励我继续创作！'])-->
                        <!--@endif-->

                        <!--回答用户信息-->
                        <div class="media user-info border-top">
                            <div class="media-left">
                                <a href="{{ route('auth.space.index',['user_id'=>$bestAnswer->user_id]) }}" target="_blank">
                                    <img class="avatar-40 hidden-xs"  th:src="@{static/images/default_avatar.jpg}" alt=""></a>
                                </a>
                            </div>
                            <div class="media-body">

                                <div class="media-heading">
                                    <strong>
                                        <a href="{{ route('auth.space.index',['user_id'=>$bestAnswer->user_id]) }}" class="mr5" th:text="${bestAnswer.user.name}">{{ $bestAnswer->user->name }}</a>
                                        <!--<span class="text-gold">-->
                                            <!--@if($bestAnswer->user->authentication && $bestAnswer->user->authentication->status === 1)-->
                                            <!--<i class="fa fa-graduation-cap" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="" data-original-title="已通过行家认证"></i>-->
                                            <!--@endif-->
                                        <!--</span>-->
                                    </strong>
                                    <!--@if($bestAnswer->user->title)-->
                                    <span class="text-muted" th:text="${bestAnswer.user.title}"> - {{ $bestAnswer->user->title }}</span>
                                    <!--@endif-->
                                </div>

                                <div class="content">
                                    <span class="answer-time text-muted hidden-xs"><!--@if($bestAnswer->user->authentication && $bestAnswer->user->authentication->status === 1)擅长：{{ $bestAnswer->user->authentication->skill }} | @endif 采纳率 {{ $bestAnswer->user->userData->adoptPercent() }}% | -->回答于 <th:block th:text="${bestAnswer.createTime}">{{ timestamp_format($bestAnswer->created_at) }}</th:block></span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


                <!--其他问题模块-->
                <div class="widget-answers mt-15">

                    <!--排序模块-->
                    <div class="btn-group pull-right" role="group">
                        <a href="{{ route('ask.question.detail',['question_id'=>$question->id]) }}" class="btn btn-default btn-xs @if(request()->input('sort','default')=='default') active @endif">默认排序</a>
                        <a href="{{ route('ask.question.detail',['question_id'=>$question->id,'sort'=>'created_at']) }}" id="sortby-created" class="btn btn-default btn-xs @if(request()->input('sort','default')=='created_at') active @endif">时间排序</a>
                    </div>

                    <h2 class="h4 post-title">其它 <th:block th:text="${otherAnswerSize}"></th:block> 个回答</h2>

                    <div class="media" th:each="answer : ${otherAnswerList}">
                        <div class="media-left">
                            <a href="{{ route('auth.space.index',['user_id'=>$answer->user_id]) }}" class="avatar-link user-card" target="_blank">
                                <!--用户图像-->
                                <img class="avatar-40 hidden-xs"  th:src="@{static/images/default_avatar.jpg}" alt=""></a>
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="media-heading">

                                <!--用户认证-->
                                <!--<strong>-->
                                    <a href="{{ route('auth.space.index',['user_id'=>$answer->user_id]) }}" class="mr-5 user-card" th:text="${answer.username}">{{ $answer->user['name'] }}</a>
                                    <!--<span class="text-gold">@if($answer->user->authentication && $answer->user->authentication->status === 1)<i class="fa fa-graduation-cap" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="" data-original-title="已通过行家认证"></i>@endif-->
                                <!--</span>-->
                                <!--</strong>-->

                                <!--用户标题-->
                                <!--@if($answer->user->title)-->
                                <span class="text-muted" th:text="${answer.user.title}"> - {{ $answer->user->title }}</span>
                                <!--@endif-->
                                <span class="answer-time text-muted hidden-xs" th:text="${answer.createTime}">{{ timestamp_format($answer->created_at) }}</span>
                            </div>
                            <div class="content">

                                <!--用户擅长-->
                                <!--@if($answer->user->authentication && $answer->user->authentication->status === 1)-->
                                <!--<span class="text-muted">擅长：{{ $answer->user->authentication->skill }}</span>-->
                                <!--@endif-->
                                <p th:utext="${answer.content}">{!! $answer->content !!}</p>
                            </div>
                            <div class="media-footer">
                                <ul class="list-inline mb-20">
                                    <li><a class="comments"  data-toggle="collapse"  href="#comments-answer-{{ $answer->id }}" aria-expanded="false" aria-controls="comment-{{ $answer->id }}"><i class="fa fa-comment-o"></i> <th:block th:text="${answer.comments}"></th:block> 条评论</a></li>

                                    <!--认证后的操作-->
                                    <!--@if(Auth()->check())-->
                                    <!--@if($question->status!==2 &&  (Auth()->user()->id === $answer->user_id  || Auth()->user()->is('admin')) )-->
                                    <!--<li><a href="{{ route('ask.answer.edit',['id'=>$answer->id]) }}" data-toggle="tooltip" data-placement="right" title="" data-original-title="继续完善回答内容"><i class="fa fa-edit"></i> 编辑</a></li>-->
                                    <!--@endif-->
                                    <!--@if($question->status!==2 &&  ( Auth()->user()->id === $question->user_id || Auth()->user()->is('admin') ))-->
                                    <!--<li><a href="#" class="adopt-answer" data-toggle="modal" data-target="#adoptAnswer" data-answer_id="{{ $answer->id }}" data-answer_content="{{ str_limit($answer->content,200) }}"><i class="fa fa-check-square-o"></i> 采纳</a></li>-->
                                    <!--@endif-->
                                    <!--@if($answer->user->qrcode)-->
                                    <!--<li><a href="#" data-toggle="modal" data-target="#payment-qrcode-modal-answer-{{ $answer->id }}" ><i class="fa fa-heart-o" aria-hidden="true"></i> 打赏</a></li>-->
                                    <!--@endif-->
                                    <!--@endif-->
                                    <li class="pull-right">
                                        <button class="btn btn-default btn-sm btn-support" data-source_id="{{ $answer->id }}" data-source_type="answer"  data-support_num="{{ $answer->supports }}"><i class="fa fa-thumbs-o-up"></i> <th:block th:text="${answer.supports}">{{ $answer->supports }}</th:block></button>
                                    </li>
                                </ul>
                            </div>

                            <!--评论模块-->
                            <!--@include('theme::comment.collapse',['comment_source_type'=>'answer','comment_source_id'=>$answer->id,'hide_cancel'=>false])-->
                            <!--@if($answer->user->qrcode)-->
                            <!--@include('theme::layout.qrcode_pament',['source_id'=>'answer-'.$answer->id,'paymentUser'=>$answer->user,'message'=>'如果觉得我的回答对您有用，请随意打赏。你的支持将鼓励我继续创作！'])-->
                            <!--@endif-->
                        </div>
                    </div>

                    <!--分页模块-->
                    <!--<div class="text-center">-->
                        <!--{!! str_replace('/?', '?', $answers->render()) !!}-->
                    <!--</div>-->

                </div>

                <!--用户回答模块-->
                <!--@if($question->status!==2)-->
                <div class="widget-answer-form mt-15">

                    <!--@if(Auth()->guest())-->
                    <div class="answer_login_tips mb-20" th:unless="${session.authc}">
                        您需要登录后才可以回答问题，<a th:href="@{'/login?path=/detail?id=' + ${question.id}}" rel="nofollow" target="_blank">登录</a>&nbsp;或者&nbsp;<a rel="nofollow" href="/register" target="_blank">注册</a>
                    </div>
                    <!--@elseif( Auth()->check() && ($question->user_id !== Auth()->user()->id && !Auth()->user()->isAnswered($question->id)) )-->
                    <form  name="answerForm" id="answer_form" action="/saveAnswer" method="post" class="editor-wrap" th:if="${session.authc} and ${session.user.id != question.userId}">
                        <input type="hidden" id="answer_token" name="_token" value="{{ csrf_token() }}">
                        <input type="hidden" value="{{ $question->id }}" id="question_id" name="question_id" />
                        <div class="form-group">
                            <div id="answer_editor"></div>
                            <!--@if($errors->has('content')) --><p class="help-block" th:text="${errorContent}">{{ $errors->first('content') }}</p> <!--@endif-->
                        </div>

                        <div class="row mt-20">
                            <!--<div class="col-xs-12 col-md-10">-->
                                <!--<ul class="list-inline">-->
                                    <!--<li class="checkbox"> <label><input type="checkbox" id="attendTo" name="followed" value="1" checked />关注该问题</label></li>-->

                                    <!--@if( Setting()->get('code_create_answer') )-->
                                    <!--<li class="pull-right">-->
                                        <!--<div class="form-group @if ($errors->first('captcha')) has-error @endif">-->
                                            <!--<input type="text" class="form-control" name="captcha" required="" placeholder="验证码" />-->
                                            <!--@if ($errors->first('captcha'))-->
                                            <!--<span class="help-block">{{ $errors->first('captcha') }}</span>-->
                                            <!--@endif-->
                                            <!--<div class="mt-10"><a href="javascript:void(0);" id="reloadCaptcha"><img src="{{ captcha_src()}}"></a></div>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!--@endif-->
                                <!--</ul>-->
                            <!--</div>-->
                            <div class="col-xs-12 col-md-2">
                                <input type="hidden" name="questionId" th:value="${question.id}">
                                <input type="hidden" id="answer_editor_content"  name="content" th:value="${answerContent}"  />
                                <button type="submit" class="btn btn-primary pull-right">提交回答</button>
                            </div>
                        </div>
                    </form>
                    <!--@endif-->
                </div>
                <!--@endif-->

            </div>

            <!--关注和相似问题模块-->
            <div class="col-xs-12 col-md-3 side">
                <div class="widget-box">
                    <ul class="widget-action list-unstyled">
                        <li>
                            <!--已关注按钮-->
                            <!--@if(Auth()->check() && Auth()->user()->isFollowed(get_class($question),$question->id))-->
                            <!--<button type="button" id="follow-button" class="btn btn-success btn-sm active" data-source_type = "question" data-source_id = "{{ $question->id }}" data-show_num="true" data-toggle="tooltip" data-placement="right" title="" data-original-title="关注后将获得更新提醒">已关注</button>-->
                            <!--@else-->
                            <button type="button" id="follow-button" class="btn btn-success btn-sm" data-source_type = "question" data-source_id = "{{ $question->id }}" data-show_num="true"  data-toggle="tooltip" data-placement="right" title="" data-original-title="关注后将获得更新提醒">关注</button>
                            <strong id="follower-num" th:text="${question.followers}">{{ $question->followers }}</strong> 关注
                        </li>
                        <li>
                            <!--已收藏按钮-->
                            <!--@if(Auth()->check() && Auth()->user()->isCollected(get_class($question),$question->id))-->
                            <!--<button id="collect-button" class="btn btn-default btn-sm" data-loading-text="加载中..." data-source_type = "question" data-source_id = "{{ $question->id }}" > 已收藏</button>-->
                            <!--@else-->
                            <button id="collect-button" class="btn btn-default btn-sm" data-source_type = "question" data-source_id = "{{ $question->id }}" > 收藏</button>
                            <strong id="collection-num" th:text="${question.collections}">{{ $question->collections }}</strong> 收藏，<strong class="no-stress" th:text="${question.views}">{{ $question->views }}</strong> 浏览
                        </li>
                        <li>
                            <i class="fa fa-clock-o"></i>
                            <!--@if($question->hide==0)-->
                            <a href="javascript:void(0)" target="_blank" th:text="${question.userName}">{{ $question->user->name }}</a>
                            <!--@endif-->
                            提出于 <th:block th:text="${question.createTime}">{{ timestamp_format($question->created_at) }}</th:block></li>
                    </ul>
                </div>

                <!--相似问题-->
                <div class="widget-box">
                    <h2 class="h4 widget-box__title">相似问题</h2>
                    <ul class="widget-links list-unstyled list-text">
                        <th:block th:each="similarques : ${similarQuestion}">
                            <li class="widget-links-item" th:if="${similarques.id != question.id}">
                                <a th:title="${similarques.title}" th:href="@{'/detail?id='+ ${similarques.id}}" th:text="${similarques.title}">{{ $relatedQuestion->title }}</a>
                                <!--<small class="text-muted"><th:block th:text="${similarques.answers}"/> 回答</small>-->
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>


        </div>


        <!--@if(Auth()->check())-->
        <div class="modal" id="appendReward" tabindex="-1" role="dialog" aria-labelledby="appendRewardLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="appendModalLabel">追加悬赏</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-success" role="alert" id="rewardAlert">
                            <i class="fa fa-exclamation-circle"></i> 提高悬赏，以提高问题的关注度！
                        </div>

                        <form class="form-inline" id="rewardForm" action="{{ route('ask.question.appendReward',['id'=>$question->id]) }}" method="post">
                            <input type="hidden"  name="_token" value="{{ csrf_token() }}">
                            <div class="form-group">
                                <label for="reward">追加</label>
                                <select class="form-control" name="coins" id="question_coins">
                                    <option value="3" selected>3</option><option value="5">5</option><option value="10">10</option><option value="15">15</option><option value="30">30</option><option value="50">50</option><option value="80">80</option><option value="100">100</option>
                                </select> 个金币
                            </div>
                            <div class="form-group">
                                （您目前共有 <span class="text-gold">{{ Auth()->user()->userData->coins }}</span> 个金币）
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="appendRewardSubmit">确认追加</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="adoptAnswer" tabindex="-1" role="dialog" aria-labelledby="adoptAnswerLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="adoptModalLabel">采纳回答</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-warning" role="alert" id="adoptAnswerAlert">
                            <i class="fa fa-exclamation-circle"></i> 确认采纳该回答为最佳答案？
                        </div>
                        <blockquote id="answer_quote"></blockquote>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="adoptAnswerSubmit">采纳该回答</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="inviteAnswer" tabindex="-1" role="dialog" aria-labelledby="inviteAnswerLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="appendModalLabel">邀请回答</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-success" role="alert" id="rewardAlert">
                            <i class="fa fa-exclamation-circle"></i> 不知道答案？你还可以邀请他人进行解答，每天可以邀请{{ config('tipask.user_invite_limit') }}次。
                        </div>
                        <form class="invite-popup" id="inviteEmailForm"  action="{{ route('ask.question.inviteEmail',['question_id'=>$question->id]) }}" method="get">
                            <div style="position: relative;">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-by="username" href="#by-username" data-toggle="tab">站内邀请</a></li>
                                    <li><a data-by="email" href="#by-email" data-toggle="tab">Email 邀请</a></li>
                                </ul>
                                <div class="tab-content invite-tab-content mt-10">
                                    <div class="tab-pane active" id="by-username" data-type="username">
                                        <div class="search-user" id="questionSlug">
                                            <input id="invite_word" class="text-28 form-control" type="text" name="word" autocomplete="off" placeholder="搜索你要邀请的人">
                                        </div>
                                        <p class="help-block" id="questionInviteUsers"></p>
                                        <div class="invite-question-modal">
                                            <div class="row invite-question-list" id="invite_user_list">
                                                <div class="text-center" id="invite_loading">
                                                    <i class="fa fa-spinner fa-spin"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="by-email" data-type="email">
                                        <div class="mb-10">
                                            <input class="text-28 form-control" type="email" name="sendTo" placeholder="Email 地址">
                                        </div>
                                        <p><textarea class="textarea-13 form-control" name="message" rows="5">我在 {{ Setting()->get('website_name') }} 上遇到了问题「{{ $question->title }}」 → {{ route('ask.question.detail',['question_id'=>$question->id]) }}，希望您能帮我解答 </textarea></p>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer" style="display:none;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary invite-email-btn">确认</button>
                    </div>
                </div>
            </div>
        </div>
        <!--@endif-->

    </div>
</div>

<th:block th:replace="/view/layout/public :: public-js"/>
<script th:src="@{/static/js/summernote/summernote.min.js}"></script>
<script th:src="@{/static/js/summernote/lang/summernote-zh-CN.min.js}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        /*回答编辑器初始化*/
        $('#answer_editor').summernote({
            lang: 'zh-CN',
            height: 160,
            placeholder:'撰写答案',
            // toolbar: ['style','bold','ol','link','picture','clear','fullscreen'],
            callbacks: {
                onChange:function (contents, $editable) {
                    var code = $(this).summernote("code");
                    $("#answer_editor_content").val(code);
                },
                onImageUpload:function(files) {
                    upload_editor_image(files[0],'answer_editor');
                }
            }
        });

    });

</script>

<th:block th:replace="/view/layout/public :: footer"/>

</body>
</html>