<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="widget-user-nav" th:fragment="auth_menu">
    <div class="row">
        <div class="col-sm-6 col-xs-6 widget-nav-item ">
            <a  class="widget-nav-item-link" href="javascript:void(0)">
                我的提问
            </a>
        </div>
        <div class="col-sm-6 widget-nav-item ">
            <a class="widget-nav-item-link " href="javascript:void(0)">
                我的回答
            </a>
        </div>
        <div class="col-sm-6 col-xs-6 widget-nav-item ">
            <a id="inviteCount" class="widget-nav-item-link" href="javascript:void(0)">
                受邀回答
            </a>
        </div>
        <div class="col-sm-6 col-xs-6  widget-nav-item ">
            <a id="inviteCount" class="widget-nav-item-link" href="javascript:void(0)">
                我的文章
            </a>
        </div>
        <div class="col-sm-6 col-xs-6 widget-nav-item ">
            <a class="widget-nav-item-link" href="javascript:void(0)">
                我的收藏
            </a>
        </div>
        <div class="col-sm-6 col-xs-6 widget-nav-item ">
            <a class="widget-nav-item-link" href="javascript:void(0)">
                我关注的
            </a>
        </div>
    </div>
</div>

</body>
</html>